<div class="fab-wrapper">
  <div class="fab">
    <span class="fab-dots fab-dots-1"></span>
    <span class="fab-dots fab-dots-2"></span>
    <span class="fab-dots fab-dots-3"></span>
  </div>
  <div class="fab-wheel">
    <a
  class="fab-action fab-action-1"
  href="https://www.linkedin.com/in/subburamk/"
  target="_blank"
  rel="noopener"
>
  <img
    src="assets/bg-img/linked_in.png"
    alt="LinkedIn"
    class="w-6 h-6"
  />
</a>

    <a
  class="fab-action fab-action-2"
  href="https://github.com/subbu-2003"
  target="_blank"
  rel="noopener"
>
  <img
    src="assets/bg-img/git.png"
    alt="GitHub"
    class="w-6 h-6"
  />
</a>

   <a
  class="fab-action fab-action-3"
  href="https://www.instagram.com/_subbu_ram_/"
  target="_blank"
  rel="noopener"
>
  <img
    src="assets/bg-img/instagram.png"
    alt="Address Book"
    class="w-6 h-6"
  />
</a>

   <a class="fab-action fab-action-4" href="https://wa.me/6380623206" target="_blank" rel="noopener">
  <img
    src="assets/bg-img/whatsapp1.png"
    alt="WhatsApp"
    class="w-6 h-6"
  />
</a>
  </div>
</div>